$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower


.header{
  display: block;
  box-sizing: padding-box;
  height: auto;
  margin-bottom: 3rem;
}
