<!doctype html>
<html class="no-js" lang="" ng-app="3DProjections">

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>3DProjection</title>

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <!-- Place favicon.ico in the root directory -->

  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->

  <!-- build:js scripts/vendor/modernizr.js -->
  <script src="/bower_components/modernizr/modernizr.js"></script>
  <!-- endbuild -->
</head>

<body>
  <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  <div class="container">
    <header class="header">
      <ul class="nav nav-pills pull-right">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <h3 class="text-muted">3DProjection</h3>
    </header>

    <section class="row" ng-controller="mainController">
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="form-group">
              <label>Ponto de vista</label>
              <div class="row">
                <div class="col-xs-4">
                  <input type="number" ng-model="viewpoint.x" class="form-control input-sm text-center" />
                </div>
                <div class="col-xs-4">
                  <input type="number" ng-model="viewpoint.y" class="form-control input-sm text-center" />
                </div>
                <div class="col-xs-4">
                  <input type="number" ng-model="viewpoint.z" class="form-control input-sm text-center" />
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Plano de projeção</label>
              <div ng-repeat="(name,point) in plane track by $index" class="row form-group">
                <div class="col-xs-3 text-center">
                  <input type="text" ng-model="name" class="form-control input-sm text-center" readonly/>
                </div>
                <div class="col-xs-3">
                  <input type="text" ng-model="point.x" class="form-control input-sm text-center" />
                </div>
                <div class="col-xs-3">
                  <input type="text" ng-model="point.y" class="form-control input-sm text-center" />
                </div>
                <div class="col-xs-3">
                  <input type="text" ng-model="point.z" class="form-control input-sm text-center" />
                </div>
              </div>
              {{plane}}
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-body">

            <div class="form-group">
              <label>Modelos</label>
              <select class="form-control" ng-model="model" ng-options="model.name for model in models">
              </select>
            </div>

            <div class="form-group row" ng-repeat="(name,vertice) in model.vertices track by $index">
              <div class="col-xs-3">
                <input type="text" readonly="readonly" ng-model="name" class="form-control input-sm text-center" />
              </div>
              <div class="col-xs-3">
                <input type="text" ng-model="vertice.x" class="form-control input-sm text-center" placeholder="X" />
              </div>
              <div class="col-xs-3">
                <input type="text" ng-model="vertice.y" class="form-control input-sm text-center" placeholder="Y" />
              </div>
              <div class="col-xs-3">
                <input type="text" ng-model="vertice.z" class="form-control input-sm text-center" placeholder="Z" />
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            Superfícies
          </div>
          <div class="panel-body">
            <div class="form-group row" ng-repeat="(name,vertices) in model.surfaces track by $index">
              <div class="col-xs-3">
                <input type="text" reado  nly="readonly" ng-model="name" class="form-control input-sm text-center" />
              </div>
              <div class="col-xs-9">
                <!--<select class="form-control" multiple
                        ng-model="vertices"
                        ng-options="name for (name,vertice) in model.vertices">
                </select>-->
                <input type="text" ng-model="vertices" class="form-control input-sm text-center" placeholder="X" />
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-sm-8">
        <div class="panel panel-default">
          <div class="panel-body">
            <button class="btn btn-primary btn-sm" ng-click="project(model, plane, viewpoint)">Project</button>
            <hr/>

            <svg width="600" height="600" viewPort="0 0 600 600" id="projection">
              <g ng-repeat="line in projection.lines">
                <line x1="{{line.u.x * 10 }}" y1="{{line.u.y * 10}}" x2="{{line.v.x * 10}}" y2="{{line.v.y * 10}}" stroke="#337ab7" stroke-width="2"/>
              </g>
              <g ng-repeat="(name,vertices) in projection.dots">
                <circle cx="{{vertices.x * 10}}" cy="{{vertices.y * 10}}" r="2" />
              </g>


              <!--<g>
                <line x1="0" y1="0" x2="" y2="100" stroke="#337ab7" stroke-width="2"/>
              </g>-->
            </svg>
          </div>
        </div>
        {{model}}
      </div>

    </section>
    <section id="about" class="row hidden">
      <h2>
        Bem-vindo ao sistema de projeções.
      </h2>
      <p>
        Através do sistema é possível observar a projeção de qualquer objeto de duas maneiras: persectiva e paralela. Para definir qual projeção deseja, basta seleciona-lá logo ao lado do botão "Project" no topo da área definida para projeção.
      </p>
      <h4>Como definir o ponto de vista:</h4>
      <p>
        Para definir o ponto de vista, basta preenchermos os três campos no local solicitado, os campos são os vores x, y e z do ponto de vista.
      </p>
      <h4>Como definir um plano de pojeção:</h4>
      <p>
        Para definir um plano de projeção é necessário informar três pontos pertencentes ao mesmo. Os pontos são definidos nos campos logo abaixo ao label solicitante. Para cada ponto deve ser informada as coordenadas x, y e z.
      </p>
      <h4>Como definir um objeto para projetar:</h4>
      <p>
        Para projetar um objeto precisamos definir os vértices e suas superfícies:
        <ol>
          <li>
            Vértices:
            <ul>
              <li>
                Definir as coordenadas x, y e z de cada vértice.
              </li>
              <li>
                Para adicionar um novo vértice, basta clicar no botão com o ícone "+" logo abaixo.
              </li>
            </ul>
          </li>
          <li>
            Superfícies:
            <ul>
              <li>
                Definir quais são os vértices que contemplam a superfície informada, seguindo a regra da mão direira.
              </li>
              <li>
                Para adicionar uma nova superfície, basta clicar no botão com o ícone "+" logo abaixo.
              </li>
            </ul>
          </li>
        </ol>
      </p>
      <h4>Como escolher qual o tipo de projeção desejada:</h4>
      <p>
        As opções de projeção ficam ao lado do botão "Project", basta selecionar qual a desejada e clicar no botão para efetuar a projeção.
      </p>
      <h4>Como esconder as faces ocultas da projeção:</h4>
      <p>
        Para esconder as faces ocultas da projeção basta marca a opção <strong>XXXXXX</strong> ao lado do botão "Project".
      </p>
      <h4>Como mudar o ponto de vista:</h4>
      <p>
        Para mudar o ponto de vista existem duas opções:
        <ol>
          <li>
            Definir um novo ponto de vista através nos campos x, y e z do ponto de vista
          </li>
          <li>
            Após uma porjeção realizada, apertar as teclas <strong>T1 T2 T3 T4...</strong> para deslocar o ponto de vista.
          </li>
        </ol>
      </p>
    </section>
    <section id="contact" class="row hidden">
      <p>
        Qualquer dúvida, contato, sugestão ou reclamação entrar em contato com:
        <ul>
          <li>
            João Luiz Ramalheira de Almeida - <a href="mailto:jlramalheira@gmail.com">jlramalheira@gmail.com</a>
          </li>
          <li>
            Max Naegeler Roecker - <a href="mailto:max.roecker@gmail.com">max.roecker@gmail.com</a>
          </li>
        </ul>
      </p>
    </section>




  </div>

  <!-- build:js scripts/plugins.js -->
  <script type="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/affix.js"></script>
  <script type="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/alert.js"></script>
  <script type="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js"></script>
  <script type="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js"></script>
  <script type="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js"></script>
  <script type="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js"></script>
  <script type="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js"></script>
  <script type="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/popover.js"></script>
  <script type="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/carousel.js"></script>
  <script type="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js"></script>
  <script type="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js"></script>
  <script type="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js"></script>
  <!-- endbuild -->

  <!-- build:js scripts/vendor.js -->
  <!-- bower:js -->
  <script src="/bower_components/jquery/dist/jquery.js"></script>
  <script src="/bower_components/angular/angular.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <script src="scripts/main.js"></script>

</body>

</html>
