<!doctype html>
<html class="no-js" lang="" ng-app="3DProjections">

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>3DProjection</title>

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <!-- Place favicon.ico in the root directory -->

  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->

  <!-- build:js scripts/vendor/modernizr.js -->
  <script src="/bower_components/modernizr/modernizr.js"></script>
  <!-- endbuild -->
</head>

<body onpopstate="" ng-controller="mainController">
  <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  <div class="container">
    <header class="header">
      <ul class="nav nav-pills pull-right">
        <li ng-class="(view == views[0])? 'active' : ''"><a href="#project" ng-click="view = views[0]">Projeção</a></li>
        <li ng-class="(view == views[1])? 'active' : ''"><a href="#about" ng-click="view = views[1]">Informações</a></li>
        <li ng-class="(view == views[2])? 'active' : ''"><a href="#contact" ng-click="view = views[2]">Contato</a></li>
      </ul>
      <h3 class="text-muted">3DProjection</h3>
    </header>
    <hr/>

    <section class="page row" ng-if="(view == views[0])">
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="form-group">
              <label><abbr title="Utilize as teclas A,D,S,W,Q e E para alterar este valor">Ponto de vista</abbr></label>
              <div class="row">
                <div class="col-xs-4">
                  <input type="number" ng-model="viewpoint.x" id="viewpoint-x" class="form-control input-sm text-center" />
                </div>
                <div class="col-xs-4">
                  <input type="number" ng-model="viewpoint.y" class="form-control input-sm text-center" />
                </div>
                <div class="col-xs-4">
                  <input type="number" ng-model="viewpoint.z" class="form-control input-sm text-center" />
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Plano de projeção</label>
              <div ng-repeat="(name,point) in plane track by $index" class="row form-group">
                <div class="col-xs-3 text-center">
                  <input type="text" ng-model="name" class="form-control input-sm text-center" readonly/>
                </div>
                <div class="col-xs-3">
                  <input type="text" ng-model="point.x" class="form-control input-sm text-center" />
                </div>
                <div class="col-xs-3">
                  <input type="text" ng-model="point.y" class="form-control input-sm text-center" />
                </div>
                <div class="col-xs-3">
                  <input type="text" ng-model="point.z" class="form-control input-sm text-center" />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-body">

            <div class="form-group">
              <label>Modelos</label>
              <select class="form-control" ng-model="model" ng-options="model.name for model in models">
              </select>
            </div>

            <div class="form-group">
              <label>Pontos</label>
              <div class="form-group row" ng-repeat="(name,vertice) in model.vertices track by $index">
                <div class="col-xs-3">
                  <button class="btn btn-danger btn-xs" ng-click="removeDot(name)" title="Remover ponto">&times;</button>
                  <button class="btn btn-primary btn-xs" disabled>
                    <span ng-bind="name"></span>
                  </button>
                </div>
                <div class="col-xs-3">
                  <input type="text" ng-model="vertice.x" class="form-control input-sm text-center" placeholder="X" />
                </div>
                <div class="col-xs-3">
                  <input type="text" ng-model="vertice.y" class="form-control input-sm text-center" placeholder="Y" />
                </div>
                <div class="col-xs-3">
                  <input type="text" ng-model="vertice.z" class="form-control input-sm text-center" placeholder="Z" />
                </div>
              </div>
              <div class="row">
                <div class="col-xs-3 col-xs-offset-9">
                  <button class="btn btn-block btn-primary" title="Adicionar ponto" ng-click="addDot()">
                    <strog>&plus;</strog>
                  </button>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label>Superfícies</label>
              <div class="form-group row" ng-repeat="surface in model.surfacesStr">
                <div class="col-xs-3">
                  <button class="btn btn-danger btn-xs" ng-click="removeSurface($index)" title="Remover superfície">&times;</button>
                  <button class="btn btn-primary btn-xs" disabled>
                    <span ng-bind="$index"></span>
                  </button>
                </div>
                <div class="col-xs-9">
                  <!--<select class="form-control" multiple
                          ng-model="vertices"
                          ng-options="name for (name,vertice) in model.vertices">
                  </select>-->
                  <input type="text" ng-model="surface" class="form-control input-sm text-center" ng-change="newSurface($index,surface)" />
                </div>
              </div>
              <div class="row">
                <div class="col-xs-3 col-xs-offset-9">
                  <button class="btn btn-block btn-primary" title="Adicionar ponto" ng-click="addSurface()">
                    <strog>&plus;</strog>
                  </button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>


      <div class="col-sm-8">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-2">
                <button class="btn btn-success btn" ng-click="project(projection.type, projection.grid, model, plane, viewpoint)" id="btn-project">Projetar</button>
              </div>
              <div class="col-xs-3">
                <label class="radio">
                  <input type="radio" ng-model="projection.type" value="Perspectiva" checked/> Perspectiva
                </label>
              </div>
              <div class="col-xs-3">
                <label class="radio">
                  <input type="radio" ng-model="projection.type" value="Paralela" /> Paralela
                </label>
              </div>
              <div class="col-xs-3 text-right">
                <label class="checkbox">
                  <input type="checkbox" ng-model="projection.grid" /> Grade
                </label>
              </div>
            </div>
            <svg width="{{viewport.max.x - viewport.min.x + 45}}" height="{{viewport.max.y - viewport.min.y + 45}}" viewPort="{{viewport.min.x}} {{viewport.min.y}} {{viewport.max.x}} {{viewport.max.y}}" id="projection" style="padding:1rem;">
              <g ng-repeat="line in projection.lines">
                <line x1="{{line.u.x}}" y1="{{line.u.y}}" x2="{{line.v.x}}" y2="{{line.v.y}}" stroke="#5cb85c" stroke-width="2" />
              </g>
              <g ng-repeat="(name,vertices) in projection.dots track by $index">
                <circle cx="{{vertices.x}}" cy="{{vertices.y}}" r="4" class="dot" />
                <g class="dotlabel">
                  <rect x="{{vertices.x - 2}}" y="{{vertices.y - 2}}" width="25" height="15" style="fill: #eeeeee" />
                  <text x="{{vertices.x + 6}}" y="{{vertices.y + 10}}">
                    {{name}}
                  </text>
                </g>
              </g>
              <!--<g>
                <line x1="0" y1="0" x2="" y2="100" stroke="#337ab7" stroke-width="2"/>
              </g>-->
            </svg>
          </div>
        </div>
      </div>
    </section>

    <section class="page" ng-if="(view == views[1])">
      <h1>Informações</h1>
      <p>
        <h2>
          Bem-vindo ao sistema de projeções.
        </h2>
        <p>
          Através do sistema é possível observar a projeção de qualquer objeto de duas maneiras: persectiva e paralela. Para definir qual projeção deseja, basta seleciona-lá logo ao lado do botão <span class="label label-success">Projetar</span> no topo da área definida para projeção.
        </p>
        <hr/>
        <h4>Como definir o ponto de vista:</h4>
        <p>
          Para definir o ponto de vista, basta preenchermos os três campos no local solicitado, os campos são os vores x, y e z do ponto de vista.
        </p>
        <p>
          Podemos também alterar o ponto de vista utlizando as seguintes teclas:
        </p>
        <ul>
          <li>
            <kbd>A</kbd> Decrementar 1 do valor de x.
          </li>
          <li>
            <kbd>D</kbd> Incrementar 1 do valor de x.
          </li>
          <li>
            <kbd>S</kbd> Decrementar 1 do valor de y.
          </li>
          <li>
            <kbd>W</kbd> Incrementar 1 do valor de y.
          </li>
          <li>
            <kbd>Q</kbd> Decrementar 1 do valor de z.
          </li>
          <li>
            <kbd>E</kbd> Incrementar 1 do valor de z.
          </li>
        </ul>
        <p>
          As teclas foram escolhida de acordo com características universais de movimentação em diversos outros aplicativos existentes.
        </p>
        <hr/>
        <h4>Como definir um plano de pojeção:</h4>
        <p>
          Para definir um plano de projeção é necessário informar três pontos pertencentes ao mesmo. Os pontos são definidos nos campos no local solicitado. Para cada ponto deve ser informada as coordenadas x, y e z.
        </p>
        <hr/>
        <h4>Como definir um objeto para projetar:</h4>
        <p>
          Para projetar um objeto precisamos definir os vértices e suas superfícies, podemos escolher algum dos três modelos previamente definidos ou então definir os vértices e as superfícies de um objeto qualquer:
        </p>
          <ol>
            <li>
              Vértices:
              <ul>
                <li>
                  Definir as coordenadas x, y e z de cada vértice.
                </li>
                <li>
                  Para adicionar um vértice basta clicar no botão <span class="label label-primary">+</span> logo abaixo.
                </li>
                <li>
                  Para remover um vértice basta clicar no botão <span class="label label-danger">x</span> logo a esquerda.
                </li>
              </ul>
            </li>
            <li>
              Superfícies:
              <ul>
                <li>
                  Definir quais são os vértices que contemplam a superfície informada serapados por "-", seguindo a regra da mão direira.
                </li>
                <li>
                  Para adicionar uma superfície basta clicar no botão <span class="label label-primary">+</span> logo abaixo.
                </li>
                <li>
                  Para remover uma superfície basta clicar no botão <span class="label label-danger">x</span> logo a esquerda.
                </li>
              </ul>
            </li>
          </ol>
        <hr/>
        <h4>Como esconder as faces ocultas da projeção:</h4>
        <p>
          Para esconder as faces ocultas da projeção basta desmarcar a opção <span class="label label-default">Grade</span>
        </p>
    </section>


    <section class="page" ng-if="(view == views[2])">
      <div class="row">
        <h1>Alunos</h1>
        <p>João Luiz Ramalheira de Almeida</p>
        <ul>
          <li>
            <a href="mailto:jlramalheira@gmail.com">jlramalheira@gmail.com</a>
          </li>
          <li>
            <small>(44)</small> 9945-4933
          </li>
        </ul>
        <p>Max Naegeler Roecker</p>
        <ul>
          <li>
            <a href="mailto:max.roecker@gmail.com">max.roecker@gmail.com</a>
          </li>
          <li>
            <small>(44)</small> 9923-3441
          </li>
        </ul>
      </div>

    </section>
  </div>

  <!-- build:js scripts/plugins.js -->
  <script type="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/affix.js"></script>
  <script type="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/alert.js"></script>
  <script type="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js"></script>
  <script type="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js"></script>
  <script type="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js"></script>
  <script type="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js"></script>
  <script type="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js"></script>
  <script type="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/popover.js"></script>
  <script type="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/carousel.js"></script>
  <script type="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js"></script>
  <script type="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js"></script>
  <script type="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js"></script>
  <!-- endbuild -->

  <!-- build:js scripts/vendor.js -->
  <!-- bower:js -->
  <script src="/bower_components/jquery/dist/jquery.js"></script>
  <script src="/bower_components/angular/angular.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <script src="scripts/main.js"></script>

</body>

</html>
